#FilterForm {
  margin: 0 20px;
  position: fixed;
  top: 80px;
}

#FilterForm .MuiFormGroup-root {
  margin: 30px 0;
  overflow-x: auto;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

#FilterForm .MuiFormGroup-root .MuiFormControlLabel-root {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
}
