* {
    box-sizing: border-box;
}
#Home {
    height: 100%;
}
#Shop {
    &.shopHome {
        position: fixed;
        bottom: 0;
        right: 0;
        left: 0;
        .swipe {
            padding: 0 30px;
            margin-bottom: 10px;
        }
    }
}